<!DOCTYPE html>

{% load static %}
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>Flash News{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock css %}
</head>

<body>
<section>
    <div class="container" style="background-color: pink">
{% block header %}
<section>
    <div class="container p-3">
        <div class="row" style="background-color: antiquewhite">
            <div class="col-6">
                <img class="rounded" src="{% static '/img/logo.png' %}">
            </div>
        </div>
    </div>
</section>
{% endblock header %}

{% block content %}
<section>
    <div class="container">
       <div class="row text-center" style="background-color: antiquewhite">
           <div class="col">
               <h1>THE HOT NEWS</h1>
           </div>
       </div>
    </div>
</section>
<section>
        <div class="container pt-3">
            <div class="row">

                <div class="col-10 col-xl-8 col-sm-4 " style="background-color: antiquewhite">
                    {% for page in pages %}
                    <a href="{{ page.title }}">{{ page.title }}</a>
                    <div>{{ page.text | truncatewords:20 }}</div>
                    {% endfor %}
                </div>

                <div class="col-2 col-xl-4 col-sm-4 d-sm-none d-md-block text-right" style="background-color: antiquewhite">

                    <form action="/user_registration/" method="post">
                        {% csrf_token %}
                        <p style="font-size: 20px">Быстрая регистрация на сайте</p>

                        <div>
                            <label for="name">First Name:</label>
                            <input type="text" id="first_name" name="first_name">
                        </div>
                        <div>
                            <label for="name">Last Name:</label>
                            <input type="text" id="last_name" name="last_name">
                        </div>
                        <div>
                            <label for="mail">Email:</label>
                            <input type="email" id="mail" name="email">
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password">
                        </div>
                        <div>
                            <label for="bio">Дополнительная Информация</label>
                            <textarea id="bio" name="user_bio"></textarea>
                        </div>
                        <div>
                            <button type="submit">Отправить</button>
                        </div>
                    </form>






                 </div>
            </div>
        </div>
</section>
{% endblock content %}


<section>
    <div class="container p-3">
{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock footer %}
    </div>
</section>


    </div>
</section>
</body>
</html>

