<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проект Сайта Презентации{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock css %}

</head>
<body>
{% block header %}
    <img src="{% static '/img/logo.png' %}">
{% endblock header %}

{% block content %}
    <h1>Создадим хороший логотип</h1>

        {% for page in pages %}
            <hr/>
            <article>
                <div>{{ page.title }}</div>
                <div>{{ page.text | truncatewords:20 }}</div>
            </article>
            {% if forloop.last %}
                <hr/>
            {% endif %}
        {% endfor %}

{% endblock content %}



{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock footer %}

</body>
</html>