<!DOCTYPE html>

{% load static %}
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>Flash News{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock css %}
</head>

<body>
<section>
    <div class="container" style="background-color: pink">
{% block header %}
<section>
    <div class="container pt-3">
        <div class="row" style="background-color: antiquewhite">
            <div class="col-6">
                <div class="container pt-3">
                    <a href=" /"><img class="rounded" src="{% static '/img/logo.png' %}"></a>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="container pt-3">
                    {% block login %}
                        {% include 'includes/login.html' %}
                    {% endblock login %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock header %}

{% block content %}
<section>
    <div class="container pt-3">
       <div class="row text-center" style="background-color: antiquewhite">
           <div class="col">
               <h1>HOT NEWS</h1>
           </div>
       </div>
    </div>
</section>
<section>
        <div class="container pt-3">
            <div class="row">
                <div class="col-8 col-xl-8 col-sm-8" style="background-color: antiquewhite">
                    <div class="container pt-3">
                        {% for page in pages %}
                            <a href="/?id={{ page.pk }}">{{ page.title }}</a>
                            <p></p>
                            <div>Автор статьи: {{ page.author.first_name }} {{ page.author.last_name }}</div>
                            <div>Добавлена: {{ page.created }}</div>
                            <p></p>
                            <div>{{ page.text | truncatewords:20 }}</div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-4 col-xl-4 col-sm-4" style="background-color: antiquewhite">
                    <div class="container pt-3">

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-8 col-xl-8 col-sm-8" style="background-color: antiquewhite">
                    <div class="container pt-3">
                        {% if page %}
                            <b>{{ page.title }}</b>
                            <p></p>
                            <div>Автор статьи: {{ page.author.first_name }} {{ page.author.last_name }}</div>
                            <p></p>
                            <div>{{ page.text }}</div>
                        <p></p>
                        <b>Коментарии:</b>
                        {% for comment in comments %}
                        <hr>
                        <p></p>
                            <p>Автор: {{ comment.author.first_name }} / Время: {{ comment.created }}</p>
                            <p></p>
                            <p>{{ comment.text }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-4 col-xl-4 col-sm-4 d-sm-none d-md-block  text-right" style="background-color: antiquewhite">
                    <div class="container pt-3">
                        {% block comment %}
                            {% include 'includes/comment.html' %}
                        {% endblock comment %}
                    </div>
                </div>
                        {% endif %}
            </div>
        </div>
</section>
{% endblock content %}


<section>
    <div class="container p-3">
{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock footer %}
    </div>
</section>


    </div>
</section>
</body>
</html>

