body {
    background-color: antiquewhite
}
footer {
    font-size: 35px;
    background-color: beige;
}

article {
    font-size: 25px;

}

h1 {
    font-size: 35px;
}
content {
    font-size: 20px;
}